# Airbnb Capstone Project

## 1.Import all Libraries

In [1]:
### import all libraries and set settings 
import pandas as pd
import numpy as np
import requests
import json
import gzip
from py_functions import increase_bbox 

pd.set_option('display.max_columns', None) # show all columns

## 2.Inside Airbnb pipeline

In [4]:
### Define path, .gz archive file name, country and city for url
path ='data/'
gz_file = "listings.csv.gz"
country = "united-kingdom"
state = "england"
city = "london"
url = f"http://data.insideairbnb.com/{country}/{state}/{city}/2023-03-14/data/{gz_file}"

In [5]:
### Create new directory for city
!mkdir {path}{city}

mkdir: data/london: File exists

In [6]:
### Download the .gz file
r = requests.get(url)
with open(path+city+'/'+gz_file, 'wb') as f:
    f.write(r.content)

In [7]:
### Unzip the .gz file and save the content as pd.DataFrame via read_csv
with gzip.open(path+city+'/'+gz_file) as f:
    listings = pd.read_csv(f)

In [8]:
### select only desired columns 
columns_keeper = (["id",
                   "listing_url",
                   "name",
                   "picture_url",
                   "host_id",
                   "host_response_rate",
                   "host_acceptance_rate",
                   "host_is_superhost",
                   "host_listings_count",
                   "host_total_listings_count",
                   "neighbourhood_cleansed",
                   "latitude",
                   "longitude",
                   "property_type",
                   "room_type",
                   "accommodates",
                   "bathrooms_text",
                   "bedrooms",
                   "beds",
                   "amenities",
                   "price",
                   "minimum_nights",
                   "maximum_nights",
                   "instant_bookable",
                   "number_of_reviews",
                   "number_of_reviews_ltm",
                   "number_of_reviews_l30d",
                   "first_review",
                   "last_review",
                   "review_scores_rating",
                   "review_scores_accuracy",
                   "review_scores_cleanliness",
                   "review_scores_checkin",
                   "review_scores_communication",
                   "review_scores_location",
                   "review_scores_value",
                   "reviews_per_month"]
                  )

In [9]:
### filter columns 
listings_short = listings[columns_keeper]

### 2.2.First Look - Airbnb Data

In [10]:
listings_short.head()

,id,listing_url,scrape_id,last_scraped,name,picture_url,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,instant_bookable,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,714569379355913481,https://www.airbnb.com/rooms/714569379355913481,20230314070633,2023-03-14,Lovely private bedroom in Muswell Hill.,https://a0.muscache.com/pictures/miso/Hosting-...,39009854,NaN,NaN,NaN,f,1.0,1.0,Haringey,NaN,51.597280,-0.139330,Private room in condo,Private room,1,NaN,1 shared bath,1.0,1.0,"[""Iron"", ""Hangers"", ""Hair dryer"", ""Outdoor din...",$100.00,1,365,f,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,808038970516277767,https://www.airbnb.com/rooms/808038970516277767,20230314070633,2023-03-14,Studio Flat Franklin London,https://a0.muscache.com/pictures/miso/Hosting-...,495977998,within an hour,100%,100%,f,14.0,31.0,Barnet,NaN,51.636518,-0.177475,Entire rental unit,Entire home/apt,1,NaN,1 bath,1.0,1.0,[],$65.00,180,365,t,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,822557738577472503,https://www.airbnb.com/rooms/822557738577472503,20230314070633,2023-03-14,PropertyPlug - 2Bed Flat in Edgware SmartTV WiFi,https://a0.muscache.com/pictures/d77957d5-695a...,325629338,within an hour,100%,91%,t,4.0,8.0,Harrow,NaN,51.608180,-0.277400,Entire rental unit,Entire home/apt,4,NaN,2 baths,2.0,2.0,"[""Dining table"", ""Washer"", ""Outdoor furniture""...",$132.00,2,28,t,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3518856,https://www.airbnb.com/rooms/3518856,20230314070633,2023-03-14,Wimbledon Double Bedroom Ensuite,https://a0.muscache.com/pictures/23a18442-fc1d...,187811,NaN,NaN,100%,f,2.0,5.0,Merton,NaN,51.422310,-0.188410,Private room in rental unit,Private room,1,NaN,1 private bath,1.0,1.0,"[""Washer"", ""Iron"", ""Hangers"", ""Kitchen"", ""Smok...",$100.00,5,1125,f,4,0,0,2015-12-27,2016-07-11,3.67,3.0,4.33,4.67,5.0,3.67,3.67,0.05
4,4876550,https://www.airbnb.com/rooms/4876550,20230314070633,2023-03-14,Stunning Apartment 2 minutes walk to Tube Station,https://a0.muscache.com/pictures/miso/Hosting-...,25087384,within a few hours,75%,46%,f,1.0,1.0,Barnet,NaN,51.602282,-0.193606,Entire condo,Entire home/apt,2,NaN,1 bath,1.0,1.0,"[""First aid kit"", ""Washer"", ""Fire extinguisher...",$120.00,5,90,f,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
listings_short.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75241 entries, 0 to 75240
Data columns (total 42 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            75241 non-null  int64
 1   listing_url                   75241 non-null  object
 2   scrape_id                     75241 non-null  int64
 3   last_scraped                  75241 non-null  object
 4   name                          75210 non-null  object
 5   picture_url                   75241 non-null  object
 6   host_id                       75241 non-null  int64
 7   host_response_time            46285 non-null  object
 8   host_response_rate            46285 non-null  object
 9   host_acceptance_rate          51028 non-null  object
 10  host_is_superhost             75223 non-null  object
 11  host_listings_count           75236 non-null  float64
 12  host_total_listings_count     75236 non-null  float64
 13  neighbourhood_cleansed        75241 non-null  object
 14  neighbourhood_group_cleansed  0 non-null      float64
 15  latitude                      75241 non-null  float64
 16  longitude                     75241 non-null  float64
 17  property_type                 75241 non-null  object
 18  room_type                     75241 non-null  object
 19  accommodates                  75241 non-null  int64
 20  bathrooms                     0 non-null      float64
 21  bathrooms_text                75117 non-null  object
 22  bedrooms                      71768 non-null  float64
 23  beds                          74135 non-null  float64
 24  amenities                     75241 non-null  object
 25  price                         75241 non-null  object
 26  minimum_nights                75241 non-null  int64
 27  maximum_nights                75241 non-null  int64
 28  instant_bookable              75241 non-null  object
 29  number_of_reviews             75241 non-null  int64
 30  number_of_reviews_ltm         75241 non-null  int64
 31  number_of_reviews_l30d        75241 non-null  int64
 32  first_review                  56548 non-null  object
 33  last_review                   56548 non-null  object
 34  review_scores_rating          56548 non-null  float64
 35  review_scores_accuracy        55595 non-null  float64
 36  review_scores_cleanliness     55606 non-null  float64
 37  review_scores_checkin         55564 non-null  float64
 38  review_scores_communication   55592 non-null  float64
 39  review_scores_location        55565 non-null  float64
 40  review_scores_value           55562 non-null  float64
 41  reviews_per_month             56548 non-null  float64
dtypes: float64(16), int64(9), object(17)
memory usage: 24.1+ MB

In [12]:
listings_short.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,neighbourhood_group_cleansed,latitude,longitude,accommodates,bathrooms,bedrooms,beds,minimum_nights,maximum_nights,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
count,7.524100e+04,7.524100e+04,7.524100e+04,75236.000000,75236.000000,0.0,75241.000000,75241.000000,75241.000000,0.0,71768.000000,74135.000000,75241.000000,7.524100e+04,75241.000000,75241.000000,75241.000000,56548.000000,55595.000000,55606.000000,55564.000000,55592.000000,55565.000000,55562.000000,56548.000000
mean,2.368628e+17,2.023031e+13,1.390765e+08,39.525958,71.379100,NaN,51.509708,-0.128108,3.105793,NaN,1.513153,1.772833,5.750748,7.790300e+03,17.974668,5.736301,0.456467,4.588159,4.723349,4.623915,4.783393,4.801027,4.729358,4.607755,0.877064
std,3.425911e+17,1.296884e+01,1.529621e+08,222.170789,420.039233,NaN,0.048369,0.099341,1.936972,NaN,0.885015,1.228013,24.240947,1.914055e+06,41.984021,12.991805,1.277612,0.779083,0.489328,0.550721,0.453835,0.448759,0.418873,0.521839,1.234003
min,1.391300e+04,2.023031e+13,2.594000e+03,1.000000,1.000000,NaN,51.295937,-0.497800,0.000000,NaN,1.000000,1.000000,1.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,1.981740e+07,2.023031e+13,1.995923e+07,1.000000,1.000000,NaN,51.483540,-0.189390,2.000000,NaN,1.000000,1.000000,1.000000,4.200000e+01,1.000000,0.000000,0.000000,4.500000,4.670000,4.500000,4.750000,4.790000,4.640000,4.500000,0.130000
50%,3.933875e+07,2.023031e+13,6.745519e+07,2.000000,2.000000,NaN,51.513840,-0.126280,2.000000,NaN,1.000000,1.000000,2.000000,3.650000e+02,4.000000,0.000000,0.000000,4.820000,4.890000,4.800000,4.940000,4.970000,4.850000,4.750000,0.450000
75%,6.562985e+17,2.023031e+13,2.248670e+08,5.000000,8.000000,NaN,51.539450,-0.068460,4.000000,NaN,2.000000,2.000000,4.000000,1.125000e+03,17.000000,6.000000,0.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.970000,1.090000
max,8.463271e+17,2.023031e+13,5.050400e+08,2138.000000,24047.000000,NaN,51.681142,0.288570,16.000000,NaN,22.000000,38.000000,1125.000000,5.248556e+08,1328.000000,564.000000,68.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,51.050000

## 2.3. Clean Airbnb

### 2.3.1. Handling Missing Data

In [13]:
listings_short.shape

(75241, 42)

In [14]:
listings_short.isnull().sum()

id                                  0
listing_url                         0
scrape_id                           0
last_scraped                        0
name                               31
picture_url                         0
host_id                             0
host_response_time              28956
host_response_rate              28956
host_acceptance_rate            24213
host_is_superhost                  18
host_listings_count                 5
host_total_listings_count           5
neighbourhood_cleansed              0
neighbourhood_group_cleansed    75241
latitude                            0
longitude                           0
property_type                       0
room_type                           0
accommodates                        0
bathrooms                       75241
bathrooms_text                    124
bedrooms                         3473
beds                             1106
amenities                           0
price                               0
minimum_nights                      0
maximum_nights                      0
instant_bookable                    0
number_of_reviews                   0
number_of_reviews_ltm               0
number_of_reviews_l30d              0
first_review                    18693
last_review                     18693
review_scores_rating            18693
review_scores_accuracy          19646
review_scores_cleanliness       19635
review_scores_checkin           19677
review_scores_communication     19649
review_scores_location          19676
review_scores_value             19679
reviews_per_month               18693
dtype: int64

**host_is_superhost**

In [15]:
# check the different values of "host_is_superhost"
listings_short["host_is_superhost"].value_counts(dropna=False)

f      64574
t      10649
NaN       18
Name: host_is_superhost, dtype: int64

In [16]:
# check how many listings the hosts with nan value for "host_is_superhost" have: 
listings_short[listings_short['host_is_superhost'].isna()]["host_total_listings_count"].value_counts()

5.0     4
2.0     3
6.0     2
10.0    2
7.0     2
4.0     2
26.0    2
1.0     1
Name: host_total_listings_count, dtype: int64

In [17]:
# we can fill values with "f" for false 
listings_short["host_is_superhost"] = listings_short["host_is_superhost"].fillna("f")

/var/folders/7p/5hb3bs814mz8v_v78023f0sh0000gn/T/ipykernel_43577/3651527053.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_short["host_is_superhost"] = listings_short["host_is_superhost"].fillna("f")

In [18]:
# renaming Rows with NaN to "Unknown"
listings_short[["name", "host_response_time", "host_response_rate",
                "host_acceptance_rate"]] = listings_short[["name", "host_response_time", "host_response_rate",
                                                           "host_acceptance_rate"]].fillna("Unknown")

/var/folders/7p/5hb3bs814mz8v_v78023f0sh0000gn/T/ipykernel_43577/3530326797.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_short[["name", "host_response_time", "host_response_rate",

**host_listings_count & host_total_listings_count**

In [19]:
# set the mode for host_listings_count & host_total_listings_count
listings_short["host_listings_count"].fillna(listings_short["host_listings_count"].mode()[0], inplace=True)

listings_short["host_total_listings_count"].fillna(listings_short["host_total_listings_count"].mode()[0], inplace=True)

/var/folders/7p/5hb3bs814mz8v_v78023f0sh0000gn/T/ipykernel_43577/859434433.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_short["host_listings_count"].fillna(listings_short["host_listings_count"].mode()[0], inplace=True)
/var/folders/7p/5hb3bs814mz8v_v78023f0sh0000gn/T/ipykernel_43577/859434433.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_short["host_total_listings_count"].fillna(listings_short["host_total_listings_count"].mode()[0], inplace=True)

**neighbourhood_group_cleansed & bathrooms**

**bedrooms , beds & bathrooms_text**

In [21]:
# set the mode for above columns
listings_short["bathrooms_text"].fillna(listings_short["bathrooms_text"].mode()[0], inplace=True)

listings_short["bedrooms"].fillna(listings_short["bedrooms"].mode()[0], inplace=True)

listings_short["beds"].fillna(listings_short["beds"].mode()[0], inplace=True)

/var/folders/7p/5hb3bs814mz8v_v78023f0sh0000gn/T/ipykernel_43577/1250815054.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_short["bathrooms_text"].fillna(listings_short["bathrooms_text"].mode()[0], inplace=True)
/var/folders/7p/5hb3bs814mz8v_v78023f0sh0000gn/T/ipykernel_43577/1250815054.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_short["bedrooms"].fillna(listings_short["bedrooms"].mode()[0], inplace=True)
/var/folders/7p/5hb3bs814mz8v_v78023f0sh0000gn/T/ipykernel_43577/1250815054.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_short["beds"].fillna(listings_short["beds"].mode()[0], inplace=True)

In [22]:
#listings_short[(listings_short["bedrooms"].isna()) & (listings_short["beds"].isna())].count()

In [23]:
#listings_short[listings_short["bedrooms"].isna()][['property_type',"room_type"]].value_counts()

In [71]:
listings_short.head()

,id,listing_url,scrape_id,last_scraped,name,picture_url,host_id,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_listings_count,host_total_listings_count,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,instant_bookable,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month,geometry,min_distance_subway_entrance,min_distance_entrance,min_distance_stop,min_distance_station,min_distance_tram_stop
0,714569379355913481,https://www.airbnb.com/rooms/714569379355913481,20230314070633,2023-03-14,Lovely private bedroom in Muswell Hill.,https://a0.muscache.com/pictures/miso/Hosting-...,39009854,Unknown,Unknown,Unknown,f,1.0,1.0,Haringey,51.597280,-0.139330,Private room in condo,Private room,1,1 shared bath,1.0,1.0,"[""Iron"", ""Hangers"", ""Hair dryer"", ""Outdoor din...",$100.00,1,365,f,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-0.13933 51.59728),1504.797948,24908.390387,8990.334457,1293.474715,20080.648179
1,808038970516277767,https://www.airbnb.com/rooms/808038970516277767,20230314070633,2023-03-14,Studio Flat Franklin London,https://a0.muscache.com/pictures/miso/Hosting-...,495977998,within an hour,100%,100%,f,14.0,31.0,Barnet,51.636518,-0.177475,Entire rental unit,Entire home/apt,1,1 bath,1.0,1.0,[],$65.00,180,365,t,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-0.17748 51.63652),2517.796038,29649.759490,13968.188953,655.797303,23993.972439
2,822557738577472503,https://www.airbnb.com/rooms/822557738577472503,20230314070633,2023-03-14,PropertyPlug - 2Bed Flat in Edgware SmartTV WiFi,https://a0.muscache.com/pictures/d77957d5-695a...,325629338,within an hour,100%,91%,t,4.0,8.0,Harrow,51.608180,-0.277400,Entire rental unit,Entire home/apt,4,2 baths,2.0,2.0,"[""Dining table"", ""Washer"", ""Outdoor furniture""...",$132.00,2,28,t,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-0.27740 51.60818),2192.545111,28893.279595,9167.778220,632.542966,21354.166902
3,3518856,https://www.airbnb.com/rooms/3518856,20230314070633,2023-03-14,Wimbledon Double Bedroom Ensuite,https://a0.muscache.com/pictures/23a18442-fc1d...,187811,Unknown,Unknown,100%,f,2.0,5.0,Merton,51.422310,-0.188410,Private room in rental unit,Private room,1,1 private bath,1.0,1.0,"[""Washer"", ""Iron"", ""Hangers"", ""Kitchen"", ""Smok...",$100.00,5,1125,f,4,0,0,2015-12-27,2016-07-11,3.67,3.0,4.33,4.67,5.0,3.67,3.67,0.05,POINT (-0.18841 51.42231),802.858301,8443.787936,12267.316862,339.477485,1182.797920
4,4876550,https://www.airbnb.com/rooms/4876550,20230314070633,2023-03-14,Stunning Apartment 2 minutes walk to Tube Station,https://a0.muscache.com/pictures/miso/Hosting-...,25087384,within a few hours,75%,46%,f,1.0,1.0,Barnet,51.602282,-0.193606,Entire condo,Entire home/apt,2,1 bath,1.0,1.0,"[""First aid kit"", ""Washer"", ""Fire extinguisher...",$120.00,5,90,f,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-0.19361 51.60228),2614.350465,26207.128973,11090.319136,183.752188,20125.705641

In [69]:
listings_short.duplicated().any()

False

In [65]:
listings_short["bathrooms_text"].value_counts()

1 bath               32853
1 shared bath        11817
2 baths               8867
1 private bath        6493
1.5 baths             5677
1.5 shared baths      3145
2.5 baths             2083
2 shared baths        1183
3 baths               1110
3.5 baths              566
2.5 shared baths       369
4 baths                217
3 shared baths         173
4.5 baths              120
0 shared baths          92
0 baths                 82
Half-bath               78
5 baths                 58
Shared half-bath        49
3.5 shared baths        42
Private half-bath       28
5.5 baths               27
6.5 baths               19
4.5 shared baths        15
4 shared baths          13
6 baths                 12
12 baths                 9
5 shared baths           7
7.5 baths                5
7 baths                  4
5.5 shared baths         4
23 baths                 3
9 baths                  3
8 baths                  3
12.5 baths               2
7 shared baths           2
8 shared baths           2
10.5 baths               2
6 shared baths           1
22 baths                 1
17 baths                 1
16.5 baths               1
8.5 baths                1
8.5 shared baths         1
10 baths                 1
Name: bathrooms_text, dtype: int64

In [25]:
listings_short["amenities"].value_counts()

[]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     568
["First aid kit", "Long term stays allowed", "Kitchen", "Refrigerator", "Elevator", "Lock on bedroom door", "Dedicated workspace", "Bed linens", "Heating", "Wifi", "Dishes and silverware", "Stove", "Microwave", "Essentials", "Oven"]                                                                                                                                                                                                                                                                                                90
["Long term stays allowed", "Hangers", "Shampoo", "Smoke alarm", "Kitchen", "Refrigerator", "Hot water", "Carbon monoxide alarm", "Lock on bedroom door", "Dedicated workspace", "Bed linens", "Heating", "Wifi", "Dishes and silverware", "Stove", "Microwave", "Essentials", "Hot water kettle", "Oven"]                                                                                                                                                                                                                              85
["Washer", "Kitchen", "Smoke alarm", "TV", "Wifi"]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      79
["Washer", "Kitchen", "Smoke alarm", "TV", "Carbon monoxide alarm", "Wifi"]                                                                                                                                                                                                                                                                                                                                                                                                                                                             76
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
["Washer", "Iron", "Shampoo", "Kitchen", "Refrigerator", "Dishwasher", "BBQ grill", "TV", "Indoor fireplace: wood-burning", "Backyard", "Heating", "Wifi", "Freezer", "Dryer", "Microwave", "Toaster", "Essentials", "Oven"]                                                                                                                                                                                                                                                                                                             1
["Washer", "Hangers", "Bed linens", "Wifi", "Dishes and silverware", "Paid parking on premises", "Shower gel", "Fire extinguisher", "TV", "Dedicated workspace", "Iron", "First aid kit", "Hair dryer", "Kitchen", "Smoke alarm", "Pets allowed", "Essentials", "Hot water", "Dryer \u2013\u00a0In unit", "Carbon monoxide alarm", "Conditioner", "Books and reading material", "Radiant heating", "Shampoo", "Body soap", "Cooking basics", "Clothing storage"]                                                                         1
["Dining table", "Washer", "Hangers", "Dishwasher", "Drying rack for clothing", "Bed linens", "Wifi", "Dishes and silverware", "Freezer", "Dryer", "Toaster", "Shower gel", "Hot water kettle", "Bathtub", "Refrigerator", "Host greets you", "Coffee maker", "TV with standard cable", "Oven", "Iron", "Kitchen", "Smoke alarm", "Hot water", "Carbon monoxide alarm", "Clothing storage: closet", "Coffee", "Conditioner", "Long term stays allowed", "Shampoo", "Body soap", "Cooking basics", "Heating", "Stove", "Essentials"]      1
["Free dryer \u2013 In unit", "Washer", "Iron", "Radiant heating", "Fire extinguisher", "Smoke alarm", "Kitchen", "Cooking basics", "TV", "Pack \u2019n play/Travel crib - always at the listing", "Carbon monoxide alarm", "Wifi", "Dishes and silverware", "Crib", "Essentials", "Paid parking on premises", "Cleaning products"]                                                                                                                                                                                                      1
["Hangers", "Lock on bedroom door", "Bed linens", "Wifi", "Crib", "Hot water kettle", "Bathtub", "High chair", "Security cameras on property", "Extra pillows and blankets", "TV", "Dedicated workspace", "Private entrance", "Room-darkening shades", "Iron", "Hair dryer", "Smoke alarm", "Lockbox", "Essentials", "Pack \u2019n play/Travel crib", "Safe", "Self check-in", "Shampoo", "Body soap", "Mini fridge", "Paid parking off premises", "Heating", "Clothing storage"]                                                        1
Name: amenities, Length: 65855, dtype: int64

In [26]:
listings_short[listings_short["first_review"].isna()]["number_of_reviews"].value_counts()

0    18693
Name: number_of_reviews, dtype: int64

## 3.Overpass Pipeline

In [27]:
### Increase outside border of listings
london_bbox = increase_bbox(listings)

In [28]:
# Increasing the maxs by 0.01 and decreasing the mins by 0.01 
# will shift the outline's border by a bit more than 1km in each direction.

# See increase_bbox function in py_functions.py

In [29]:
# (northern hemisphere)
# latitude max = north
# latitude min = south
# longitude max = east
# longitude min = west

In [73]:
### Get OSM data for slightly bigger bbox
overpass_url = "http://overpass-api.de/api/interpreter"
overpass_query = f"""
[out:json];
(
    node["amenity"="bar"]({london_bbox["south_shifted"]},{london_bbox["west_shifted"]},{london_bbox["north_shifted"]},{london_bbox["east_shifted"]});
    node["amenity"="pub"]({london_bbox["south_shifted"]},{london_bbox["west_shifted"]},{london_bbox["north_shifted"]},{london_bbox["east_shifted"]});
    node["amenity"="restaurant"]({london_bbox["south_shifted"]},{london_bbox["west_shifted"]},{london_bbox["north_shifted"]},{london_bbox["east_shifted"]});
    node["amenity"="cafe"]({london_bbox["south_shifted"]},{london_bbox["west_shifted"]},{london_bbox["north_shifted"]},{london_bbox["east_shifted"]});
    node["amenity"="fast_food"]({london_bbox["south_shifted"]},{london_bbox["west_shifted"]},{london_bbox["north_shifted"]},{london_bbox["east_shifted"]});
    node["railway"="subway_entrance"]({london_bbox["south_shifted"]},{london_bbox["west_shifted"]},{london_bbox["north_shifted"]},{london_bbox["east_shifted"]});
    node["cuisine"]({london_bbox["south_shifted"]},{london_bbox["west_shifted"]},{london_bbox["north_shifted"]},{london_bbox["east_shifted"]});
    way["amenity"="bar"]({london_bbox["south_shifted"]},{london_bbox["west_shifted"]},{london_bbox["north_shifted"]},{london_bbox["east_shifted"]});
    way["amenity"="pub"]({london_bbox["south_shifted"]},{london_bbox["west_shifted"]},{london_bbox["north_shifted"]},{london_bbox["east_shifted"]});
    way["amenity"="restaurant"]({london_bbox["south_shifted"]},{london_bbox["west_shifted"]},{london_bbox["north_shifted"]},{london_bbox["east_shifted"]});
    way["amenity"="cafe"]({london_bbox["south_shifted"]},{london_bbox["west_shifted"]},{london_bbox["north_shifted"]},{london_bbox["east_shifted"]});
    way["amenity"="fast_food"]({london_bbox["south_shifted"]},{london_bbox["west_shifted"]},{london_bbox["north_shifted"]},{london_bbox["east_shifted"]});
    way["railway"="subway_entrance"]({london_bbox["south_shifted"]},{london_bbox["west_shifted"]},{london_bbox["north_shifted"]},{london_bbox["east_shifted"]});
    way["cuisine"]({london_bbox["south_shifted"]},{london_bbox["west_shifted"]},{london_bbox["north_shifted"]},{london_bbox["east_shifted"]});

    );
    (._;>;);
out body;
"""
response = requests.get(overpass_url,
                        params={'data': overpass_query})
data = response.json()

osm = pd.json_normalize(data, record_path="elements")

In [110]:
### clean column names 
osm.columns = osm.columns.str.replace(".", "_", regex=False)
osm.columns = osm.columns.str.replace(":", "_", regex=False)

In [113]:
### select only desired columns
osm_keepers = (["id",
                     "lat",
                     "lon",
                     "tags_name",
                     "tags_amenity",
                     "tags_cuisine",
                     "tags_diet_vegetarian",
                     "tags_diet_vegan",
                     "tags_railway"]
                     )

In [114]:
osm_short = osm[osm_keepers]

In [91]:
### combine lat & lon to a new column lat_lon, to check for duplicates 
osm_short["lat_lon"] = osm_short["lat"].astype(str) + osm_short["lon"].astype(str)

/var/folders/7p/5hb3bs814mz8v_v78023f0sh0000gn/T/ipykernel_43577/1019722182.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  osm_short["lat_lon"] = osm_short["lat"].astype(str) + osm_short["lon"].astype(str)

In [107]:
### drop all rows with no lat/lon
osm_short = osm_short.dropna(subset=['lat'])

In [115]:
osm_short.head()

,id,lat,lon,tags_name,tags_amenity,tags_cuisine,tags_diet_vegetarian,tags_diet_vegan,tags_railway
0,451152,51.600840,-0.194608,King of Prussia,pub,pizza;burger,yes,yes,NaN
1,451153,51.602031,-0.193503,Central Restaurant,restaurant,NaN,NaN,NaN,NaN
2,451154,51.599579,-0.196028,The Catcher in the Rye,pub,NaN,NaN,NaN,NaN
3,451271,51.614104,-0.176556,The Tally Ho,pub,NaN,NaN,NaN,NaN
4,12242503,51.592016,0.027962,Railway Bell,pub,NaN,NaN,NaN,NaN

### 3.1. First Look - Open Street Maps-Data

In [61]:
streetmap_short[streetmap_short["tags.amenity"] == "restaurant"].shape

(5344, 10)

In [58]:
streetmap_short[streetmap_short["tags.amenity"] == "restaurant"]["tags.cuisine"].value_counts(dropna=False)

NaN                      1619
indian                    480
italian                   448
pizza                     273
chinese                   233
                         ...
italian;chinese             1
sichuan;chinese             1
spanish;mediterranean       1
scottish                    1
uyghur                      1
Name: tags.cuisine, Length: 358, dtype: int64

In [53]:
streetmap_short["tags.cuisine"].value_counts(dropna=False)

NaN                      8554
coffee_shop               849
pizza                     613
indian                    601
italian                   485
                         ...
coffee_shop;danish          1
tapas;spanish;seafood       1
English breakfast           1
ramen;japanese              1
lebanese;kebab              1
Name: tags.cuisine, Length: 640, dtype: int64

In [37]:
streetmap_short.head()

,id,lat,lon,tags.name,tags.amenity,tags.cuisine,tags.railway,tags.public_transport,tags.diet:vegetarian,tags.diet:vegan
0,451152,51.600840,-0.194608,King of Prussia,pub,pizza;burger,NaN,NaN,yes,yes
1,451153,51.602031,-0.193503,Central Restaurant,restaurant,NaN,NaN,NaN,NaN,NaN
2,451154,51.599579,-0.196028,The Catcher in the Rye,pub,NaN,NaN,NaN,NaN,NaN
3,451271,51.614104,-0.176556,The Tally Ho,pub,NaN,NaN,NaN,NaN,NaN
4,638645,51.372908,-0.414344,Walton-on-Thames,NaN,NaN,station,station,NaN,NaN

In [38]:
streetmap_short["tags.amenity"].unique()

array(['pub', 'restaurant', nan, 'cafe', 'bar', 'bus_station',
       'fast_food', 'ferry_terminal'], dtype=object)

In [39]:
streetmap_short.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16540 entries, 0 to 16539
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     16540 non-null  int64
 1   lat                    16540 non-null  float64
 2   lon                    16540 non-null  float64
 3   tags.name              15925 non-null  object
 4   tags.amenity           15260 non-null  object
 5   tags.cuisine           7986 non-null   object
 6   tags.railway           1280 non-null   object
 7   tags.public_transport  764 non-null    object
 8   tags.diet:vegetarian   753 non-null    object
 9   tags.diet:vegan        541 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 1.3+ MB

In [40]:
streetmap_short.describe()

                 id           lat           lon
count  1.654000e+04  16540.000000  16540.000000
mean   4.684916e+09     51.500684     -0.131178
std    3.258168e+09      0.068268      0.130715
min    4.511520e+05     51.286089     -0.507334
25%    1.650741e+09     51.469531     -0.190261
50%    4.603416e+09     51.510090     -0.125446
75%    7.147501e+09     51.535076     -0.072672
max    1.081959e+10     51.691127      0.298538

## 4. Web scraping test

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
url = "http://insideairbnb.com/get-the-data/"
page = requests.get(url)

In [ ]:
soup = BeautifulSoup(page.content, "html.parser")

In [ ]:
print(soup)

## 5.Area-Calc-Test

In [41]:
streetmap.head()

,id,lat,lon,tags.name,tags.amenity,tags.cuisine,tags.railway,tags.public_transport,tags.diet:vegetarian,tags.diet:vegan
0,15262026,51.518156,-0.169879,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20576176,51.325220,-0.006881,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20576312,51.309530,-0.054178,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21141374,51.522270,-0.163755,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,21310453,51.486288,-0.121714,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
# Import libraries and set test subsets of the data
from sklearn.neighbors import BallTree
list_test = listings_short[["id", "name", "latitude", "longitude"]]
street_test = streetmap[["id", "lat", "lon", "tags.amenity", "tags.railway"]]

In [43]:
#rename the column name so that they are equal 
streetmap = streetmap.rename(columns={"lat": "latitude", "lon": "longitude"})

In [44]:
# Calculate the needed radius when converted to unit sphere.
distance_in_meter = 500
earth_radius_in_meter = 6_371_000

radius = distance_in_meter / earth_radius_in_meter

In [342]:
# Convert the latitude and longitude columns to radians
list_test = list_test.copy()
list_test.loc[:, 'lat_rad'] = np.radians(list_test['latitude'])
list_test.loc[:, 'lon_rad'] = np.radians(list_test['longitude'])
street_test = street_test.copy()
street_test.loc[:, 'lat_rad'] = np.radians(street_test['latitude'])
street_test.loc[:, 'lon_rad'] = np.radians(street_test['longitude'])

# Create a BallTree object with the latitude and longitude columns
tree = BallTree(street_test[['lat_rad', 'lon_rad']],
                leaf_size=15, metric='haversine')

# Find the indices of all neighbors within a radius of 500 meters
# for each row in list_test
indices = tree.query_radius(
    list_test[['lat_rad', 'lon_rad']], r=radius, count_only=False)

# Calculate the number of neighbors for each amenity type
amenity_types = street_test['tags.amenity'].unique()
amenity_counts = np.zeros((list_test.shape[0], amenity_types.shape[0]))
for i, amenity in enumerate(amenity_types):
    street_indices = street_test[street_test['tags.amenity'] == amenity].index
    intersection_counts = np.array(
        [np.intersect1d(street_indices, idx).size for idx in indices])
    amenity_counts[:, i] = intersection_counts

# Add the new columns to list_test
list_test = pd.concat([list_test, pd.DataFrame(amenity_counts, columns=[
                      f'num_neighbors_{amenity}' for amenity in amenity_types])], axis=1)

# Calculate the number of neighbors for each railway type
railway_types = street_test['tags.railway'].unique()
railway_counts = np.zeros((list_test.shape[0], railway_types.shape[0]))
for i, railway in enumerate(railway_types):
    street_indices = street_test[street_test['tags.railway'] == railway].index
    intersection_counts = np.array(
        [np.intersect1d(street_indices, idx).size for idx in indices])
    railway_counts[:, i] = intersection_counts

# Add the new columns to list_test
list_test = pd.concat([list_test, pd.DataFrame(railway_counts, columns=[
                      f'num_neighbors_{railway}' for railway in railway_types])], axis=1)


# Remove the temporary columns
list_test.drop(columns=['lat_rad', 'lon_rad'], inplace=True)
street_test.drop(columns=['lat_rad', 'lon_rad'], inplace=True)

In [343]:
list_test.describe()

,id,latitude,longitude,num_neighbors_nan,num_neighbors_pub,num_neighbors_fast_food,num_neighbors_clock,num_neighbors_atm,num_neighbors_toilets,num_neighbors_ferry_terminal,num_neighbors_restaurant,num_neighbors_dentist,num_neighbors_watering_place,num_neighbors_drinking_water,num_neighbors_bench,num_neighbors_parking_entrance,num_neighbors_bicycle_parking,num_neighbors_cafe,num_neighbors_bar,num_neighbors_bus_station,num_neighbors_nan,num_neighbors_pub,num_neighbors_fast_food,num_neighbors_clock,num_neighbors_atm,num_neighbors_toilets,num_neighbors_ferry_terminal,num_neighbors_restaurant,num_neighbors_dentist,num_neighbors_watering_place,num_neighbors_drinking_water,num_neighbors_bench,num_neighbors_parking_entrance,num_neighbors_bicycle_parking,num_neighbors_cafe,num_neighbors_bar,num_neighbors_bus_station,num_neighbors_nan,num_neighbors_subway_entrance,num_neighbors_entrance,num_neighbors_stop,num_neighbors_station,num_neighbors_tram_stop
count,7.524100e+04,75241.000000,75241.000000,75241.0,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.0,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.0,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000
mean,2.368628e+17,51.509708,-0.128108,0.0,4.409511,10.803378,0.013809,0.020946,0.004187,0.069603,16.642974,0.001063,0.000173,0.002778,0.002831,0.001489,0.003203,12.252110,2.122952,0.039207,0.0,4.409511,10.803378,0.013809,0.020946,0.004187,0.069603,16.642974,0.001063,0.000173,0.002778,0.002831,0.001489,0.003203,12.252110,2.122952,0.039207,0.0,1.448878,0.001688,0.003588,2.308223,0.249917
std,3.425911e+17,0.048369,0.099341,0.0,9.416939,26.866415,0.116698,0.173963,0.065590,0.415069,42.296290,0.032590,0.013143,0.052631,0.053131,0.054543,0.056505,30.387748,4.906068,0.238124,0.0,9.416939,26.866415,0.116698,0.173963,0.065590,0.415069,42.296290,0.032590,0.013143,0.052631,0.053131,0.054543,0.056505,30.387748,4.906068,0.238124,0.0,3.823028,0.056099,0.059797,6.168676,1.346805
min,1.391300e+04,51.295937,-0.497800,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.981740e+07,51.483540,-0.189390,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.933875e+07,51.513840,-0.126280,0.0,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.0,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.562985e+17,51.539450,-0.068460,0.0,4.000000,8.000000,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,2.000000,0.000000,0.0,4.000000,8.000000,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,2.000000,0.000000,0.0,1.000000,0.000000,0.000000,1.000000,0.000000
max,8.463271e+17,51.681142,0.288570,0.0,77.000000,247.000000,1.000000,2.000000,2.000000,5.000000,383.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,287.000000,47.000000,2.000000,0.0,77.000000,247.000000,1.000000,2.000000,2.000000,5.000000,383.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,287.000000,47.000000,2.000000,0.0,43.000000,2.000000,1.000000,52.000000,14.000000

## 6.Nearest Station-Test

In [421]:
streetmap["tags.railway"].unique()

array([nan, 'subway_entrance', 'entrance', 'stop', 'station', 'tram_stop'],
      dtype=object)

In [45]:
streetmap.dropna(subset=["tags.railway"], inplace=True)

In [49]:
from haversine import haversine, Unit

# define a function to calculate distance between two points
def calc_distance(lat1, lon1, lat2, lon2):
    return haversine((lat1, lon1), (lat2, lon2), unit=Unit.METERS)

# get all unique values in "tags.railway"
railway_tags = streetmap["tags.railway"].unique()

# loop through each row in listings_short and calculate the minimum distance
# for each value in streetmap["tags.railway"]
for tag in railway_tags:
    distances = []
    for _, row in listings_short.iterrows():
        min_distance = None
        for _, sm_row in streetmap[streetmap["tags.railway"] == tag].iterrows():
            distance = calc_distance(row["latitude"], row["longitude"], sm_row["latitude"], sm_row["longitude"])
            if min_distance is None or distance < min_distance:
                min_distance = distance
        distances.append(min_distance)

    # add the calculated minimum distances as a new column in listings_short
    col_name = "min_distance_{}".format(tag)
    listings_short[col_name] = distances

/var/folders/7p/5hb3bs814mz8v_v78023f0sh0000gn/T/ipykernel_43577/1934617681.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_short[col_name] = distances
/var/folders/7p/5hb3bs814mz8v_v78023f0sh0000gn/T/ipykernel_43577/1934617681.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_short[col_name] = distances
/var/folders/7p/5hb3bs814mz8v_v78023f0sh0000gn/T/ipykernel_43577/1934617681.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_short[col_name] = distances
/var/folders/7p/5hb3bs814mz8v_v78023f0sh0000gn/T/ipykernel_43577/1934617681.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_short[col_name] = distances
/var/folders/7p/5hb3bs814mz8v_v78023f0sh0000gn/T/ipykernel_43577/1934617681.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  listings_short[col_name] = distances

In [ ]:
# from haversine import haversine, Unit

# # define a function to calculate distance between two points
# def calc_distance(lat1, lon1, lat2, lon2):
#     return haversine((lat1, lon1), (lat2, lon2), unit=Unit.METERS)

# # loop through each row in listings_short and calculate the minimum distance
# # for "subway_entrance" tag
# distances = []
# for _, row in listings_short.iterrows():
#     min_distance = None
#     for _, sm_row in streetmap[streetmap["tags.railway"] == "subway_entrance"].iterrows():
#         distance = calc_distance(row["latitude"], row["longitude"], sm_row["latitude"], sm_row["longitude"])
#         if min_distance is None or distance < min_distance:
#             min_distance = distance
#     distances.append(min_distance)

# # add the calculated minimum distances as a new column in listings_short
# listings_short["min_distance_subway_entrance"] = distances

In [50]:
listings_short.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bedrooms,beds,minimum_nights,maximum_nights,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month,min_distance_subway_entrance,min_distance_entrance,min_distance_stop,min_distance_station,min_distance_tram_stop
count,7.524100e+04,7.524100e+04,7.524100e+04,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000,7.524100e+04,75241.000000,75241.000000,75241.000000,56548.000000,55595.000000,55606.000000,55564.000000,55592.000000,55565.000000,55562.000000,56548.000000,75241.000000,75241.000000,75241.000000,75241.000000,75241.000000
mean,2.368628e+17,2.023031e+13,1.390765e+08,39.523398,71.374424,51.509708,-0.128108,3.105793,1.489467,1.761473,5.750748,7.790300e+03,17.974668,5.736301,0.456467,4.588159,4.723349,4.623915,4.783393,4.801027,4.729358,4.607755,0.877064,1175.880056,16688.645228,6880.722254,498.407503,11457.687812
std,3.425911e+17,1.296884e+01,1.529621e+08,222.163629,420.025668,0.048369,0.099341,1.936972,0.871029,1.222497,24.240947,1.914055e+06,41.984021,12.991805,1.277612,0.779083,0.489328,0.550721,0.453835,0.448759,0.418873,0.521839,1.234003,1546.349009,5240.929974,3926.887173,350.291556,4912.939491
min,1.391300e+04,2.023031e+13,2.594000e+03,1.000000,1.000000,51.295937,-0.497800,0.000000,1.000000,1.000000,1.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,1.077511,78.976398,20.607206,1.150966,32.403778
25%,1.981740e+07,2.023031e+13,1.995923e+07,1.000000,1.000000,51.483540,-0.189390,2.000000,1.000000,1.000000,1.000000,4.200000e+01,1.000000,0.000000,0.000000,4.500000,4.670000,4.500000,4.750000,4.790000,4.640000,4.500000,0.130000,345.896172,13687.440042,4022.241663,266.743858,8236.041146
50%,3.933875e+07,2.023031e+13,6.745519e+07,2.000000,2.000000,51.513840,-0.126280,2.000000,1.000000,1.000000,2.000000,3.650000e+02,4.000000,0.000000,0.000000,4.820000,4.890000,4.800000,4.940000,4.970000,4.850000,4.750000,0.450000,649.363801,16742.682940,6321.069869,425.348579,11379.540076
75%,6.562985e+17,2.023031e+13,2.248670e+08,5.000000,8.000000,51.539450,-0.068460,4.000000,2.000000,2.000000,4.000000,1.125000e+03,17.000000,6.000000,0.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.970000,1.090000,1280.920791,19581.228836,8836.758199,641.052645,14414.214378
max,8.463271e+17,2.023031e+13,5.050400e+08,2138.000000,24047.000000,51.681142,0.288570,16.000000,22.000000,38.000000,1125.000000,5.248556e+08,1328.000000,564.000000,68.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,51.050000,20340.499863,39554.202090,27737.123484,7394.015515,30478.709223

Price correlation

In [132]:
list_test["price"] = listings_short["price"]

In [133]:
list_test.price = list_test.price.str[1:-3]
list_test.price = list_test.price.str.replace(",", "")
list_test.price = list_test.price.astype('int64')

In [134]:
list_test.corrwith(list_test['price'])

/var/folders/7p/5hb3bs814mz8v_v78023f0sh0000gn/T/ipykernel_29039/1732082712.py:1: FutureWarning: The default value of numeric_only in DataFrame.corrwith is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  list_test.corrwith(list_test['price'])

id                                0.064004
latitude                          0.005344
longitude                        -0.034336
num_neighbors_nan                      NaN
num_neighbors_pub                 0.044490
num_neighbors_fast_food           0.046168
num_neighbors_clock               0.004750
num_neighbors_atm                -0.004762
num_neighbors_toilets            -0.001710
num_neighbors_restaurant          0.046288
num_neighbors_dentist            -0.005625
num_neighbors_watering_place     -0.002393
num_neighbors_drinking_water     -0.004003
num_neighbors_bench               0.080874
num_neighbors_parking_entrance   -0.005989
num_neighbors_bicycle_parking    -0.009015
num_neighbors_cafe                0.044919
num_neighbors_bar                 0.048390
price                             1.000000
num_neighbors_nan                      NaN
num_neighbors_pub                 0.013740
num_neighbors_fast_food           0.017038
num_neighbors_clock               0.000094
num_neighbors_atm                -0.000961
num_neighbors_toilets                  NaN
num_neighbors_restaurant          0.014683
num_neighbors_dentist            -0.000724
num_neighbors_watering_place           NaN
num_neighbors_drinking_water           NaN
num_neighbors_bench                    NaN
num_neighbors_parking_entrance   -0.001075
num_neighbors_bicycle_parking     0.000310
num_neighbors_cafe                0.014653
num_neighbors_bar                 0.013230
dtype: float64